@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background: url(./components/images/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}

nav{
  background: rgba(8, 32, 68, 0.5);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.homePlacement{
  margin-bottom: 20%;
}

.aboutPlacement{
  padding: 13%;
}

.resumePlacement{
  position: relative;
  bottom: 10%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

ul li{
    text-decoration: none;
    list-style: none;
    margin: 15px 30px;
    padding: 4px 8px;
}

nav ul li a{
  color: white;
  text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 6px;
    text-shadow: 2px 2px 4px black;
  }
  
  nav ul li a:hover{
    color: white;
    border-bottom: 2px solid white;
    text-shadow: 2px 2px 4px black;
}

.fontStyle {
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px black;
}

.boldFont{
    font-family:'Titillium Web', sans-serif;
    text-shadow: 2px 2px 4px black;
    font-size: 2.8rem;
}

.boldFontHome{
    font-family:'Titillium Web', sans-serif;
    text-shadow: 2px 2px 4px black;
  }
  
div#homePage{
  position: relative;
  top: 4.5rem;
}


div.points{
  border-radius:50%;
  background-color:rgb(14, 27, 61);
  border: 1px solid white;
  height:50px;
  width:50px;
}

.resumeBtn{
  background-color: rgb(14, 27, 61);
  outline: none;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid white;
}

.resumeBtn a{
  text-decoration: none;
  color: white;
}

.resumeBtn:hover{
  background: none;
}

.resumeDiv{
  height: 65vh;
  width: 100vw;
}

div.social {
  height: 15px;
  border-radius: 5px;
  width: 23%;
  display: inline-block;
  text-align: center;
  color: white;
  padding: 2px;
}

span.handles {
  text-align: center;
  margin: 2px 2px;
}

div#fb {
  background-color: #4267b2;
}

div#fb:hover {
  transition: all 1s ease-out;
  height: 58px;
  background-image: url(./components/images/icon_facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

div#insta {
  background-color: #fd1d1d;
}

div#insta:hover {
  transition: all 1s ease-out;
  height: 58px;
  background-image: url(./components/images/icon_instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

div#linkedIn {
  background-color: #2867b2;
}

div#linkedIn:hover {
  transition: all 1s ease-out;
  height: 58px;
  background-image: url(./components/images/icon_linkedin.svg);
  background-repeat: no-repeat;
  background-position: center;
}

div#Github {
  background-color: #333;
}

div#Github:hover {
  transition: all 1s ease-out;
  height: 58px;
  background-image: url(./components/images/icon_github.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

img#profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid grey;
}

div.socialSection{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.socialLinks{
    margin: 6px;
}
